<div class="row">
    <div class="card">
        <div class="card-img-top">
            <img class="w-auto d-block mx-auto mt-4" src="http://vignette4.wikia.nocookie.net/stalker/images/3/35/250px-Stalkercover.jpg/revision/latest?cb=20111105055855" alt="Stalker">
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius rutrum urna, id pretium ipsum malesuada nec. Duis efficitur eros arcu, ut sodales eros egestas sollicitudin. Praesent pulvinar in ex id fringilla. Sed ut volutpat urna, sit amet pharetra ipsum. Nullam lacinia nisi quis libero cursus gravida. Integer a ornare.</p>
            <div>
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-success float-right">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-img-top">
            <img class="w-auto d-block mx-auto mt-4" src="http://vignette4.wikia.nocookie.net/stalker/images/3/35/250px-Stalkercover.jpg/revision/latest?cb=20111105055855" alt="Stalker">
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius rutrum urna, id pretium ipsum malesuada nec. Duis efficitur eros arcu, ut sodales eros egestas sollicitudin. Praesent pulvinar in ex id fringilla. Sed ut volutpat urna, sit amet pharetra ipsum. Nullam lacinia nisi quis libero cursus gravida. Integer a ornare.</p>
            <div>
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-success float-right">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-img-top">
            <img class="w-auto d-block mx-auto mt-4" src="http://vignette4.wikia.nocookie.net/stalker/images/3/35/250px-Stalkercover.jpg/revision/latest?cb=20111105055855" alt="Stalker">
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius rutrum urna, id pretium ipsum malesuada nec. Duis efficitur eros arcu, ut sodales eros egestas sollicitudin. Praesent pulvinar in ex id fringilla. Sed ut volutpat urna, sit amet pharetra ipsum. Nullam lacinia nisi quis libero cursus gravida. Integer a ornare.</p>
            <div>
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-success float-right">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-img-top">
            <img class="w-auto d-block mx-auto mt-4" src="http://vignette4.wikia.nocookie.net/stalker/images/3/35/250px-Stalkercover.jpg/revision/latest?cb=20111105055855" alt="Stalker">
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius rutrum urna, id pretium ipsum malesuada nec. Duis efficitur eros arcu, ut sodales eros egestas sollicitudin. Praesent pulvinar in ex id fringilla. Sed ut volutpat urna, sit amet pharetra ipsum. Nullam lacinia nisi quis libero cursus gravida. Integer a ornare.</p>
            <div>
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-success float-right">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
